<ul class="nav navbar-nav navbar-right">
    <li><a href="/Administracion/Inicio">Inicio</a></li>
    <li><a href="/Administracion/Peliculas">Gestión de Películas</a></li>
    <li><a href="/Administracion/Sedes">Gestión de Sedes</a></li>
    <li><a href="/Administracion/Carteleras">Gestión de Carteleras</a></li>
    <li><a href="/Administracion/Reportes">Reporte de Reservas</a></li>
</ul>
