@using Tp_Cines_.Models;
@model  CarteleraViewModel

@{
    ViewBag.Title = "Gestión de Carteleras-Crear Cartelera";

}

@section scripts {
    <script src="~/Scripts/site.js"></script>

    @*@Html.Partial("CarteleraScriptsPartial")*@
}

<div class="container-fluid">
    <div class="col-md-6 col-md-offset-3">

        <div class="split style2">
            <section>
                <h2>Crear Cartelera</h2>
            </section>
            @using (Html.BeginForm("CrearCartelera", "Administracion", FormMethod.Post))
            {
                @Html.Partial("CrearEditarCarteleraPartial")
            }
        </div>
        <br />
        <br />
    </div>
 </div>
<br />
