@using CapaServicio;
@model  Sedes
@{
    ViewBag.Title = "Gestión de Sedes-Nueva Sede";

}

<section id="three" class="wrapper style1 fade-up">
    <div class="inner">

        <div class="split style2">
            <section>
                <h2>Crear Sede</h2>
            </section>

            @using (Html.BeginForm("CrearSede", "Administracion", FormMethod.Post))
            {
                @Html.Partial("CrearEditarSedePartial")
            }
        </div>

    </div>
</section>
