@using Tp_Cines_.Models;
@model  CarteleraViewModel

@{
    ViewBag.Title = "Gestión de Carteleras";

}

@section menu { @Html.Partial("_MenuAdministradorPartial")}
<h2>Sedes</h2>

<section id="three" class="wrapper style1 fade-up">
    <div class="inner">

        @using (Html.BeginForm("CrearCartelera", "Administracion",FormMethod.Post))
        {
            @Html.Partial("CrearEditarCarteleraPartial")
        }
    </div>
</section>