@using CapaServicio;
@model  Sedes
@{
    ViewBag.Title = "Gestión de Sedes-Nueva Sede";

}

<div class="container-fluid">
    <div class="col-md-6 col-md-offset-3">

        <div class="split style2">
            <section>
                <h2>Crear Sede</h2>
            </section>

            @using (Html.BeginForm("CrearSede", "Administracion", FormMethod.Post))
            {
                @Html.Partial("CrearEditarSedePartial")
            }
        </div>
        <br />
        <br />

    </div>
</div>
