@using CapaServicio;
@model  Sedes
@{
    ViewBag.Title = "Gestión de Sedes-Nueva Sede";

}
@section menu { @Html.Partial("_MenuAdministradorPartial")}
<section id="three" class="wrapper style1 fade-up">
    <div class="inner">

        @using (Html.BeginForm("EditarSede","Administracion",FormMethod.Post))
        {
            @Html.HiddenFor(u=>u.IdSede)
            <div class="split style2">
                <section>
                    <h2>Editar Sede</h2>
                </section>
                @Html.Partial("CrearEditarSedePartial")


            </div>


        }
    </div>
</section>
