@using Tp_Cines_.Models;
@model  CarteleraViewModel

@{
    ViewBag.Title = "Gestión de Carteleras-Editar Cartelera";

}

@section scripts {
<script src="~/Scripts/site.js"></script>

}


<div class="container-fluid">
    <div class="col-md-6 col-md-offset-3">
        <section>
            <h2>Editar Cartelera</h2>
        </section>
        @using (Html.BeginForm("EditarCartelera", "Administracion", FormMethod.Post))
            {
            @Html.HiddenFor(u => u.IdCartelera)
            @Html.Partial("CrearEditarCarteleraPartial")
        }
    </div>
</div>
<br />
<br />
