@{
    ViewBag.Title = "Home Administrador";

}

<div class="container-fluid">
    <div class="col-md-6 col-md-offset-3">

        <blockquote>
            <h2>Bienvenido @Html.Encode(User.Identity.Name)!</h2>
            </blockquote>
            <h2>¿Quiere irse?</h2>

            @*@ViewBag.dato*@

        
        <div class="btn btn-default btn-lg btn-block">
    @Html.ActionLink("Log Out", "LogOut", "Home") </div>
    <br />
    <br />
</div>

</div>
