@{
    ViewBag.Title = "Gestión de Películas";
    Layout = "~/Views/Administracion/_LayoutAdministrador.cshtml";
}

<div id="wrapper">
    <section id="main" class="wrapper style1 fade-up">
        <div class="inner">
            <h2>Bienvenido! @Html.Encode(User.Identity.Name)</h2>

            <p class="align-center">¿Quiere irse?</p>

            <ul class="actions fit">
                <li class="button fit">
                    @Html.ActionLink("Log Out", "LogOut", "Home")
                </li>
            </ul>

        </div>
    </section>
</div>
