@model Servicios.Reserva

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Inicio</title>
</head>
<body>
    <div>
        <h1>Bienvenidos!</h1>
    </div>
</body>
</html>
