@model CapaServicio.Carteleras

@{
    Layout = null;
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Dias</title>
</head>
<body>


 @using(Html.BeginForm("Hora","Peliculas", FormMethod.Post))
 {
                    <label>Dias</label>
                    @Html.DropDownList("lis","Elegir dia")

                //  @Html.DropDownListFor(m => m. , new SelectList(ViewBag.lis, "IdPelicula"),"Seleccionar")
     
                        <input type="submit" name="enviar" value="Enviar" />
 }
                

</body>
</html>
