@model CapaServicio.Carteleras

@{
    Layout = null;
    Layout = "~/Views/Shared/_Layout.cshtml";

}


<div id="wrapper">
    <section id="main" class="wrapper style1 fade-up">
        <div class="inner">


            @using (Html.BeginForm("Hora", "Peliculas", FormMethod.Post))
            {
                <label>Dias</label>
                @Html.DropDownList("lis", "Elegir dia")

                //  @Html.DropDownListFor(m => m. , new SelectList(ViewBag.lis, "IdPelicula"),"Seleccionar")

     
                <input type="submit" name="enviar" value="Enviar" />
            }


        </div>
    </section>
</div>