@model CapaServicio.Carteleras

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>HoraInicio</title>
</head>
<body>

    @using(Html.BeginForm("Seleccionado","Peliculas", FormMethod.Post))
 {
                    <label>Hora de inicio</label>
        
                //  @Html.DropDownList("horaInicio","Elegir horario")

                 @Html.DropDownListFor(m => m.HoraInicio, new SelectList(ViewBag.horaInicio,"HoraInicio"),"Seleccionar")
     
                        <input type="submit" name="enviar" value="Enviar" />
 }
 




</body>
</html>
