@model CapaServicio.Carteleras

@*@{
    ViewBag.Title = "Hora";

}*@

<div id="wrapper">
    <section id="main" class="wrapper style1 fade-up">
        <div class="inner">

            @using (Html.BeginForm("Seleccionado", "Peliculas", FormMethod.Post))
            {
                @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                <fieldset>
                        <legend>Seleccionar</legend>
                        <div>
                            
                <label>Hora de inicio</label>

                 @* @Html.DropDownList("horaInicio","Elegir horario")*@

                @Html.DropDownListFor(m => m.HoraInicio, new SelectList(ViewBag.horaInicio, "HoraInicio"), "Seleccionar")

                <input type="submit" name="enviar" value="Enviar" />

                            </div>
                    </fieldset>
            }




        </div>
    </section>
</div>
