@model CapaServicio.Sedes

@*@{
    ViewBag.Title = "Sedes";

}*@



<div id="wrapper">
    <section id="main" class="wrapper style1 fade-up">
        <div class="inner">

            @using (Html.BeginForm("Dias", "Peliculas", FormMethod.Post))
            {
                <fieldset>
                    <legend>Seleccionar</legend>


                    <label>Sedes</label>
                    @*   @Html.DropDownList("Sede1", "Elegir Sede")*@
                    @Html.DropDownListFor(m => m.IdSede, new SelectList(ViewBag.Sede1, "IdSede", "Nombre"), "seleccionar")
                    @Html.Hidden("id_version")



                    <input type="submit" name="enviar" value="Enviar" />
                </fieldset>


            }


        </div>
    </section>
</div>
