@model CapaServicio.Carteleras

@*@{
    ViewBag.Title = "Seleccionado";

}*@


<div id="wrapper">
    <section id="main" class="wrapper style1 fade-up">
        <div class="inner">

            <label>Datos de reserva seleccionada:</label>
            <br />
            <div>
                <label>Pelicula:@ViewBag.pelicula </label>
                <br />
                <label>Version:@ViewBag.version </label>
                <br />
                <label>Horario:@ViewBag.hora </label>
                <br />
                <label>Dia:@ViewBag.fechaInicio </label>
                <br />
                <label>Sede:@ViewBag.sede </label>
            </div>
            </div>
    </section>
</div>
