@model CapaServicio.Carteleras

@{
    Layout = null;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Seleccionado</title>
</head>
<body>
    <label>Datos de reserva seleccionada:</label>
    <br />
    <div>
        <label>Version:@ViewBag.version  </label>
        <br />
         <label>Version:@ViewBag.hora  </label>
        <br />
         <label>Version:@ViewBag.version  </label>
    </div>
</body>
</html>
