@model CapaServicio.Reservas

@{
    ViewBag.Title = "ValidarReserva";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h2>La reserva se realizo correctamente!</h2>

    <p>El importe total es: @TempData["importe"] </p>
    <p>El codigo de reserva es: @TempData["codigo"]</p>
    <br />

</div>

