@model CapaServicio.Carteleras

@{
//ViewBag.Title = "Version";
}

<div id="wrapper">
    <section id="main" class="wrapper style1 fade-up">
        <div class="inner">
            @using (Html.BeginForm("sedes", "Peliculas", FormMethod.Post))
            {

                <fieldset>
                    <legend>Seleccionar</legend>
                    <div>
                        <label>Version</label>
                        @* @Html.DropDownListFor(m => m.IdVersion, new SelectList(ViewBag.Versiones, "IdVersion", "Nombre",ViewBag.ItemSeleccionado), new {onchange= "form.submit();"})
                            @Html.ActionLink("sedes", "Peliculas", new { ItemSelected = ViewBag.ItemSeleccionado })
                            @Html.Hidden("Id_Peli");
                        *@

                        @Html.DropDownListFor(m => m.IdVersion, new SelectList(ViewBag.Versiones, "IdVersion", "Nombre"), "seleccionar")



                    </div>

                    <br />
                    <input type="submit" name="Enviar" value="Enviar" />
                </fieldset>



            }







        </div>
    </section>
</div>